* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
button,
span {
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    padding: 0 40px;
    background-color: #1c1612;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbar .logo img {
    width: 38px;
    height: 38px;
}

.navbar .burger {
    display: none;
}

.navbar .logo h3 {

    font-size: 22px;
}

.navbar .logo h3 a {
    color: #ffffff;
    font-weight: 400;
}

.navbar .menu .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.navbar .menu .nav-links a {
    font-size: 16px;
    color: white;
}

@media(max-width:900px) {
    .navbar .menu {
        display: none;
    }

    .navbar .burger {
        display: block;
    }

    .navbar .burger div {
        background-color: white;
        height: 3px;
        width: 25px;
        margin-bottom: 6px;
    }
}

/* Hero Section */

.hero {
    height: 90vh;
    background-image: url(Assests/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px;

}

.hero .content {
    width: 605px;
    height: 265px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 40px;
}

.hero .content h3 {
    color: #A19B99;
    font-size: 30px;
}

.hero .content h1 {
    color: white;
    font-size: 50px;
}

@media(max-width:700px) {
    .hero {
        background-position: left;
        justify-content: center;
        padding-right: 0px;
        padding: 0px 20px;
    }

    .hero .content h3 {
        font-size: 20px;
    }

    .hero .content h1 {
        line-height: 50px;
        font-size: 40px;

    }

    .hero .content {
        width: 405px;
        height: 265px;
        padding: 0px 20px;
        gap: 20px
    }
}

/* About Section */

.about {
    background-color: #23242B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px 0;
    gap: 100px
}

.about h2 {
    font-size: 40px;
    color: #8e8e8e;
}

.about .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 180px;
}

.about .about-container .about-card {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px
}

.about .about-container .about-card h3 {
    font-size: 14px;
    color: white;
    font-weight: 400;
}

.about .about-container .about-card p {
    color: #717A87;
    font-size: 12px;
    text-align: center;
}

.about .about-container .about-card img {
    width: 120px;
    height: 120px;
}

@media(max-width:600px) {
    .about {
        padding: 100px 0;
        gap: 50px;
    }
}



/* Services section */
.services {
    background-color: #1F212A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px 0;
    gap: 100px;
}

.services h2 {
    font-size: 50px;
    color: #8e8e8e;
}

.services .services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 90px;
}

.services .services-container .services-card {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.services .services-container .services-card img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px #1d1e25;
}

.services .services-container .services-card h3 {
    color: white;
}

@media(max-width:600px) {
    .services {
        padding: 100px 0;
        gap: 50px;
    }
}

/* Project section */

.projects {
    background-color: #23242B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 120px 0;
    gap: 100px;
}

.projects h2 {
    font-size: 50px;
    color: #8e8e8e;
}

.projects .projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 90px;
}

.projects .projects-container .projects-card {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

.projects .projects-container .projects-card img {
    width: 100%;
    height: 230px;
    border-radius: 10px;
    box-shadow: 10px 10px #1d1e25;
}

.projects .projects-container .projects-card h3 {
    color: white;

}

@media(max-width:600px) {
    .projects {
        padding: 100px 0;
        gap: 50px;
    }
}